<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>News</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/resources/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/small-business.css}" rel="stylesheet">

</head>
<body>

<footer th:fragment="footer" class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Hai Nguyen 2019</p>
    </div>
    <script th:src="@{resources/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{resources/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</footer>
</body>
</html>