<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>News website management</title>
</head>
<body>
<h2>
    <!-- Print the logged in user name -->
    <div sec:authorize="isAuthenticated()">
        Welcome: <span sec:authentication="principal.username"></span>
    </div>
</h2>
<div sec:authorize="isAnonymous()">
    Login as <a href="/admin/dashboard">Admin</a>
</div>
<div sec:authorize="isAuthenticated()">
    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/admin/dashboard}">My Profile</a>
    </div>
    <a th:href="@{/logout}">Logout</a>
</div>
</body>
</html>